/* body {
    border: 1px solid red;
} */

.results-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.result-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.gameResultView {
    border: 1px solid black;
    border-radius: 5rem;
    margin: 5px; /* Adjust the margin as needed */
    height: 200px;
    width: 250px;
}

.scoreCounter {
    margin-top: 5px; /* Adjust the margin as needed */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-container button {
    margin: 0 5px; /* Adjust the margin as needed */
    height: 50px;
    width: 100px;
    font-weight: 900;
    border-radius: 5rem;
}

#rockButton {
    background-color: gray;
    color: black;
}

#paperButton {
    background-color: white;
    color: black;
}

#scissorsButton {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: black;
}

